@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Global variables
$fonts: Roboto, "Helvetica Neue", sans-serif;
$background-color: rgb(252, 236, 211);
$background-secondary-color: rgb(221,157,107);
$primary-color: rgb(225, 167, 119);
$primary-highlighted-color: #F4C092;
$secondary-color: #4c6444;
$placeholder-color: grey;


body {
  background-color: $background-color !important;
  color: black !important;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: $fonts;
}
