<div>
  <app-sessions-toolbar></app-sessions-toolbar>
  <div class="d-flex camera-container py-3 mx-2 rounded-1">
    <div class="ps-3 pe-1">
      <webcam
        [width]="340"
        [trigger]="triggerObservable"
        (imageCapture)="handleImage($event)"
      ></webcam>
    </div>
    <div
      class="w-100 ps-3 pe-3 d-flex align-items-center flex-column justify-content-between"
    >
      <div>
        <mat-form-field class="w-100">
          <mat-label>Location</mat-label>
          <input
            matInput
            [(ngModel)]="location"
            (ngModelChange)="onLocationChange($event)"
          />
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Noise level</mat-label>
          <mat-select
            [(ngModel)]="selectedNoiseLevel"
            (ngModelChange)="onNoiseLevelChange($event)"
          >
            <mat-option *ngFor="let level of noiseLevels" [value]="level">{{
              level
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="ms-1">
        Elapsed time: {{ formatTime(this.sessionService.elapsedTime.value) }}
      </div>
    </div>
  </div>
</div>
