<div class="w-100 px-3 py-3 z-index-1">
  <div
    class="toolbar d-flex justify-content-between align-items-center px-2 py-2 rounded"
  >
    <div class="d-flex align-items-center">
      <div role="button" (click)="goHome()">A-Eye</div>
      <div class="btn mx-2 btn-history">Past Sessions</div>
    </div>
    <div
      class="btn btn-start d-flex px-1"
      *ngIf="!this.sessionService.isActive.value"
    >
      <mat-icon>play_arrow</mat-icon>
      <div class="px-1" (click)="startSession()">Start Session</div>
    </div>
    <div
      class="d-flex align-items-center justify-content-center"
      *ngIf="this.sessionService.isActive.value"
    >
      <div
        role="button"
        class="btn-start rounded-start d-flex align-items-center p-2 btn-sub"
        (click)="pauseSession()"
      >
        <mat-icon>pause</mat-icon>
      </div>
      <div
        role="button"
        class="btn-start rounded-end d-flex align-items-center p-2 btn-sub"
        (click)="stopSession()"
      >
        <mat-icon>stop</mat-icon>
      </div>
    </div>
  </div>
</div>
