@import "../../../styles.scss";

.btn-start {
  background-color: $primary-color;
}

.btn-start:hover {
  background-color: $primary-highlighted-color;
}

.btn-history:hover {
  background-color: $background-secondary-color;
}

.toolbar {
  background-color: $background-color;
}
